## Project Data using SELECT Clause in SQL

Let us understand different aspects of projecting data. We primarily using `SELECT` to project the data.
* We can project all columns using `*` or some columns using column names.
* We can provide aliases to a column or expression using `AS` in `SELECT` clause.
* `DISTINCT` can be used to get the distinct records from selected columns. We can also use `DISTINCT *` to get unique records using all the columns.
* As part of `SELECT` clause we can have aggregate functions such as `count`, `sum` etc.

In [1]:
%load_ext sql

In [2]:
%sql SELECT * FROM orders LIMIT 10

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [3]:
%%sql 

SELECT order_customer_id, order_date, order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (256, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (12111, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (8827, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED'),
 (11318, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (7130, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (4530, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE'),
 (2911, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING'),
 (5657, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT'),
 (5648, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT')]

In [4]:
%%sql

SELECT current_date

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(datetime.date(2022, 9, 15),)]

In [6]:
%sql SELECT to_char(current_date, 'yyyy-MM')

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('2022-09',)]

In [8]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM'), 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [9]:
%%sql 

SELECT order_customer_id, 
    to_char(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders 
LIMIT 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.

[(11599, '2013-07', 'CLOSED'),
 (256, '2013-07', 'PENDING_PAYMENT'),
 (12111, '2013-07', 'COMPLETE'),
 (8827, '2013-07', 'CLOSED'),
 (11318, '2013-07', 'COMPLETE'),
 (7130, '2013-07', 'COMPLETE'),
 (4530, '2013-07', 'COMPLETE'),
 (2911, '2013-07', 'PROCESSING'),
 (5657, '2013-07', 'PENDING_PAYMENT'),
 (5648, '2013-07', 'PENDING_PAYMENT')]

In [11]:
%%sql 

SELECT DISTINCT to_char(order_date, 'yyyy-MM') AS order_month 
FROM orders
ORDER BY 1

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
13 rows affected.

[('2013-07',),
 ('2013-08',),
 ('2013-09',),
 ('2013-10',),
 ('2013-11',),
 ('2013-12',),
 ('2014-01',),
 ('2014-02',),
 ('2014-03',),
 ('2014-04',),
 ('2014-05',),
 ('2014-06',),
 ('2014-07',)]

In [12]:
%sql SELECT count(*) FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(68883,)]

In [13]:
%%sql 

SELECT count(DISTINCT to_char(order_date, 'yyyy-MM')) AS distinct_month_count 
FROM orders

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[(13,)]