## Setup SMS Tables for SQL Joins

Let us go ahead and setup SMS tables for SQL Joins. We will also insert few records into each of the tables so that we can run some queries on these tables while exploring joins.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [ ]:
%env DATABASE_URL

In [ ]:
%%sql

SELECT * FROM information_schema.tables
LIMIT 10

In [ ]:
%%sql

DROP TABLE IF EXISTS users;

In [ ]:
%%sql

DROP TABLE IF EXISTS courses;

In [ ]:
%%sql

DROP TABLE IF EXISTS course_enrolments;

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS users (
    user_id INT,
    user_fname VARCHAR,
    user_lname VARCHAR
);

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS courses (
    course_id INT,
    course_title VARCHAR,
    course_price FLOAT
);

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS course_enrolments (
    enrolment_id INT,
    user_id INT,
    course_id INT,
    sale_date DATE,
    amount_paid FLOAT
);

In [ ]:
%%sql

INSERT INTO users
VALUES
    (1, 'Scott', 'Tiger'),
    (2, 'John', 'Clarke'),
    (3, 'Mickey', 'Mouse'),
    (4, 'Donald', 'Duck');

In [ ]:
%%sql

INSERT INTO courses
VALUES
    (1, 'Python', 400.0),
    (2, 'Spark', 800.0),
    (3, 'AWS', 800.0);

In [ ]:
%%sql

INSERT INTO course_enrolments
VALUES
    (1, 1, 2, '2022-01-15', 600.0),
    (2, 2, 3, '2022-01-21', 800.0),
    (3, 2, 2, '2022-02-05', 600.0),
    (4, 1, 3, '2022-02-16', 600.0),
    (5, 3, 3, '2022-01-31', 800.0),
    (6, 5, 4, '2022-01-21', 400.0);

In [ ]:
%%sql

SELECT * FROM users

In [ ]:
%%sql

SELECT * FROM courses

In [ ]:
%%sql

SELECT * FROM course_enrolments