## Join Tables using Inner Join in SQL

Let us understand how to join data from multiple tables.
* We will primarily focus on ANSI style join (**JOIN with ON**).
* There are different types of joins.
  * `INNER JOIN` - Get all the records from both the datasets which satisfies JOIN condition.
  * `OUTER JOIN` - We will get into the details once we go through all the lectures related to `INNER JOIN`.
* Example for **INNER JOIN**

```sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10
```

* We can join more than 2 tables in one query. Here is how it will look like.

```sql
SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
    JOIN products p
    ON p.product_id = oi.order_item_product_id
LIMIT 10
```

* If we have to apply additional filters, it is recommended to use `WHERE` clause. `ON` clause should only have join conditions.
* We can have non equal join conditions as well, but they are not used that often.
* Here are some of the examples for INNER JOIN:
  * Get order id, date, status and item revenue for all order items.
  * Get order id, date, status and item revenue for all order items for all orders where order status is either `COMPLETE` or `CLOSED`.
  * Get order id, date, status and item revenue for all order items for all orders where order status is either `COMPLETE` or `CLOSED` for the orders that are placed in the `month of 2014 January`.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [ ]:
%%sql

SELECT * FROM users
ORDER BY 1

In [ ]:
%%sql

SELECT * FROM course_enrolments
ORDER BY 1

In [ ]:
%%sql

SELECT ce.enrolment_id,
    u.*,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%%sql

SELECT * FROM courses

In [ ]:
%%sql

SELECT ce.enrolment_id,
    ce.user_id,
    c.*,
    ce.sale_date,
    ce.amount_paid
FROM courses AS c
    JOIN course_enrolments AS ce
        ON c.course_id = ce.course_id
ORDER BY ce.enrolment_id

In [ ]:
%%sql

SELECT ce.enrolment_id,
    u.*,
    c.*,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
    JOIN courses AS c
        ON c.course_id = ce.course_id
ORDER BY ce.enrolment_id

* Make sure the notebook is restarted to reset the connection to the database to `itversity_retail_db` using `itversity_retail_user`

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [ ]:
%%sql

SELECT * FROM information_schema.tables

In [ ]:
%sql SELECT * FROM orders LIMIT 10

In [ ]:
%sql SELECT * FROM order_items LIMIT 10

In [ ]:
%%sql

-- Get all the orders and order_items details together
SELECT *
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
LIMIT 10

In [ ]:
%sql SELECT count(*) FROM orders

In [ ]:
%sql SELECT count(*) FROM order_items

In [ ]:
%%sql

-- Get count for the above join query
SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id

In [ ]:
%%sql

-- Specifying INNER is optional
-- Default is INNER when we have JOIN Condition
SELECT count(*)
FROM orders AS o
    INNER JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id

In [ ]:
%%sql

-- Filtering on top of join results
-- Get order_id, order_date, order_customer_id, order_status, 
-- order_item_product_id as well as order_item_subtotal
-- whose order_status is either COMPLETE or CLOSED
SELECT o.*,
    oi.order_item_product_id,
    oi.order_item_subtotal
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
ORDER BY o.order_id, oi.order_item_product_id
LIMIT 20

In [ ]:
%%sql

SELECT count(*)
FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
%%sql

-- Get count for the above query for the validation
SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
%%sql

SELECT count(DISTINCT o.order_id)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
%%sql

SELECT count(*)
FROM orders AS o
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND NOT EXISTS (
        SELECT 1 FROM order_items AS oi
        WHERE oi.order_item_order_id = o.order_id
    )

In [ ]:
%%sql

-- Filtering on top of join results
-- Get order_id, order_date, order_customer_id, order_status, 
-- order_item_product_id as well as order_item_subtotal
-- whose order_status is either COMPLETE or CLOSED
-- Consider only those orders which are placed in the month of 2014, January
SELECT o.*,
    oi.order_item_product_id,
    oi.order_item_subtotal
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
ORDER BY o.order_id, oi.order_item_product_id
LIMIT 20

In [ ]:
%%sql

-- Get count for the above query for the validation
SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'

In [ ]:
%%sql

SELECT count(*)
FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'

In [ ]:
%%sql

SELECT count(DISTINCT o.order_id)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'

In [ ]:
%%sql

SELECT count(*)
FROM orders AS o
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
    AND NOT EXISTS (
        SELECT 1 FROM order_items AS oi
        WHERE oi.order_item_order_id = o.order_id
    )

In [ ]:
%%sql

SELECT DISTINCT order_date
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
ORDER BY 1