## Full Outer Join using SQL Queries

Let us understand how to perform full outer joins using SQL. There are 3 different types of outer joins.
* `LEFT OUTER JOIN` (default) - Get all the records from both the datasets which satisfies JOIN condition along with those records which are in the left side table but not in the right side table.
* `RIGHT OUTER JOIN` - Get all the records from both the datasets which satisfies JOIN condition along with those records which are in the right side table but not in the left side table.
* `FULL OUTER JOIN` - left union right

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [ ]:
%%sql

SELECT * FROM users
ORDER BY 1

In [ ]:
%%sql

SELECT * FROM course_enrolments
ORDER BY 1

In [ ]:
%%sql

SELECT ce.enrolment_id,
    u.*,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%%sql

SELECT ce.enrolment_id,
    u.*,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    LEFT OUTER JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%%sql

SELECT ce.enrolment_id,
    ce.user_id,
    u.user_fname,
    u.user_lname,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    RIGHT OUTER JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%%sql

SELECT ce.enrolment_id,
    u.user_id AS user_id,
    ce.user_id AS enrolment_user_id,
    u.user_fname,
    u.user_lname,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    FULL OUTER JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%sql SELECT coalesce(2, NULL)

In [ ]:
%sql SELECT coalesce(NULL, NULL, 1, 4)

In [ ]:
%%sql

SELECT ce.enrolment_id,
    coalesce(u.user_id, ce.user_id) AS user_id,
    u.user_fname,
    u.user_lname,
    ce.course_id,
    ce.sale_date,
    ce.amount_paid
FROM users AS u
    FULL OUTER JOIN course_enrolments AS ce
        ON u.user_id = ce.user_id
ORDER BY ce.enrolment_id

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [ ]:
%sql SELECT * FROM categories LIMIT 10

In [ ]:
%sql SELECT * FROM products LIMIT 10

In [ ]:
%sql SELECT count(*) FROM categories

In [ ]:
%sql SELECT count(*) FROM products

In [ ]:
%%sql 

SELECT count(*) 
FROM categories AS c
    JOIN products AS p
        ON c.category_id = p.product_category_id

In [ ]:
%%sql 

SELECT count(*) 
FROM categories AS c
    LEFT OUTER JOIN products AS p
        ON c.category_id = p.product_category_id

In [ ]:
%%sql 

SELECT count(*) 
FROM categories AS c
    RIGHT OUTER JOIN products AS p
        ON c.category_id = p.product_category_id

In [ ]:
%%sql 

SELECT count(*) 
FROM categories AS c
    FULL OUTER JOIN products AS p
        ON c.category_id = p.product_category_id

In [ ]:
%%sql 

SELECT p.product_id,
    p.product_category_id,
    c.*
FROM categories AS c
    FULL OUTER JOIN products AS p
        ON c.category_id = p.product_category_id
ORDER BY p.product_id
LIMIT 10

In [ ]:
%%sql 

SELECT p.product_id,
    p.product_category_id,
    c.*
FROM categories AS c
    FULL OUTER JOIN products AS p
        ON c.category_id = p.product_category_id
ORDER BY p.product_id NULLS FIRST
LIMIT 10

In [ ]:
%%sql 

SELECT p.product_id,
    p.product_category_id,
    c.*
FROM categories AS c
    FULL OUTER JOIN products AS p
        ON c.category_id = p.product_category_id
ORDER BY c.category_id NULLS FIRST
LIMIT 100