## Add Primary Key Constraints to the tables

Let us go ahead and understand the concepts behind Primary Key Constraints as well as examples to define primary keys and also validate.
* **Primary Key** Constraint means **NOT NULL** and **UNIQUE**.
* There can be only one primary key per table.
* Primary Key constraints are typically defined on Surrogate Columns. **Sorrogate Column** means the column with out business relevance.
* Primary Key constraints defined on Surrogate Columns are also known as **Surrogate Primary Keys**.
* Primary Key can be defined on multiple columns. It is known as **Composite Primary Key**. Composite Primary Keys are not used very often.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

DROP TABLE IF EXISTS users CASCADE

Done.

[]

In [4]:
%%sql

DROP TABLE IF EXISTS courses CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS course_enrolments

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [6]:
%%sql

CREATE TABLE users (
    user_id INT PRIMARY KEY,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [7]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[('itversity_sms_db', 'public', 'users_pkey', 'itversity_sms_db', 'public', 'users', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_1_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_2_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_3_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES')]

In [8]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'itversity_sms_db', 'public', 'users_pkey')]

In [9]:
%%sql

ALTER TABLE users
    ADD COLUMN user_email_id VARCHAR(50)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [10]:
%%sql

-- Fails
-- However we can define user_email_id as NOT NULL and UNIQUE
ALTER TABLE users
    ADD PRIMARY KEY (user_email_id)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.InvalidTableDefinition) multiple primary keys for table "users" are not allowed

[SQL: -- Fails
-- However we can define user_email_id as NOT NULL and UNIQUE
ALTER TABLE users
    ADD PRIMARY KEY (user_email_id)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [11]:
%%sql

DROP TABLE IF EXISTS courses CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [12]:
%%sql

CREATE TABLE IF NOT EXISTS courses (
    course_id INT,
    course_title VARCHAR,
    course_price FLOAT
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [13]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'courses'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
0 rows affected.

[]

In [14]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'courses'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
0 rows affected.

[]

In [15]:
%%sql

ALTER TABLE courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (course_id)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [16]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'courses'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[('itversity_sms_db', 'public', 'courses_pkey', 'itversity_sms_db', 'public', 'courses', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17170_1_not_null', 'itversity_sms_db', 'public', 'courses', 'CHECK', 'NO', 'NO', 'YES')]

In [17]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'courses'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'courses', 'course_id', 'itversity_sms_db', 'public', 'courses_pkey')]

In [18]:
%%sql

DROP TABLE IF EXISTS course_enrolments CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [19]:
%%sql

CREATE TABLE IF NOT EXISTS course_enrolments (
    enrolment_id SERIAL PRIMARY KEY,
    user_id INT,
    course_id INT,
    sale_date DATE,
    amount_paid FLOAT
);

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [20]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'course_enrolments'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[('itversity_sms_db', 'public', 'course_enrolments_pkey', 'itversity_sms_db', 'public', 'course_enrolments', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17178_1_not_null', 'itversity_sms_db', 'public', 'course_enrolments', 'CHECK', 'NO', 'NO', 'YES')]

In [21]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'course_enrolments'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'course_enrolments', 'enrolment_id', 'itversity_sms_db', 'public', 'course_enrolments_pkey')]