## Add Unique Key Constraints to the tables

Let us go ahead and understand the concepts behind Unique Constraints as well as examples to define Unique Constraints and also validate.
* **Unique** Constraint enforces only **Uniqueness**. `NOT NULL` is not enforced by default. We need to explicity define columns in the unique constraint to be not null.
* There can be more than one unique constraints per table.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql 

SELECT table_catalog, 
    table_name,
    column_name,
    data_type,
    character_maximum_length,
    column_default,
    is_nullable,
    ordinal_position
FROM information_schema.columns 
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY ordinal_position

4 rows affected.

[('itversity_sms_db', 'users', 'user_id', 'integer', None, None, 'NO', 1),
 ('itversity_sms_db', 'users', 'user_first_name', 'character varying', None, None, 'NO', 2),
 ('itversity_sms_db', 'users', 'user_last_name', 'character varying', None, None, 'NO', 3),
 ('itversity_sms_db', 'users', 'user_email_id', 'character varying', 50, None, 'YES', 4)]

In [4]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[('itversity_sms_db', 'public', 'users_pkey', 'itversity_sms_db', 'public', 'users', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_1_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_2_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_3_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES')]

In [5]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'itversity_sms_db', 'public', 'users_pkey')]

In [6]:
%%sql

ALTER TABLE users
    ADD UNIQUE (user_email_id)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [7]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
5 rows affected.

[('itversity_sms_db', 'public', 'users_pkey', 'itversity_sms_db', 'public', 'users', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', 'users_user_email_id_key', 'itversity_sms_db', 'public', 'users', 'UNIQUE', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_1_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_2_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_17163_3_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES')]

In [8]:
%%sql

SELECT *
FROM information_schema.constraint_column_usage
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'itversity_sms_db', 'public', 'users_pkey'),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 'itversity_sms_db', 'public', 'users_user_email_id_key')]

In [9]:
%%sql

INSERT INTO users
    (user_id, user_first_name, user_last_name)
VALUES
    (1, 'Scott', 'Tiger')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [10]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1, 'Scott', 'Tiger', None)]

In [11]:
%%sql

INSERT INTO users
    (user_id, user_first_name, user_last_name, user_email_id)
VALUES
    (2, 'Donald', 'Duck', 'd@d.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [12]:
%%sql

INSERT INTO users
    (user_id, user_first_name, user_last_name, user_email_id)
VALUES
    (3, 'Donald', 'Duck', NULL)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [13]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(1, 'Scott', 'Tiger', None),
 (2, 'Donald', 'Duck', 'd@d.com'),
 (3, 'Donald', 'Duck', None)]

In [15]:
%%sql

UPDATE users
SET user_email_id = 'd1@d.com'
WHERE user_id = 3

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [16]:
%%sql

-- Fails as there are null values in user_email_id
-- Update user_email_id with not null and unique values, then alter table
-- You can also truncate the table and then enforce not null on user_email_id
ALTER TABLE users
    ALTER COLUMN user_email_id SET NOT NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.NotNullViolation) column "user_email_id" of relation "users" contains null values

[SQL: -- Fails as there are null values in user_email_id
-- Update user_email_id with not null and unique values, then alter table
-- You can also truncate the table and then enforce not null on user_email_id
ALTER TABLE users
    ALTER COLUMN user_email_id SET NOT NULL]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [17]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(1, 'Scott', 'Tiger', None),
 (2, 'Donald', 'Duck', 'd@d.com'),
 (3, 'Donald', 'Duck', 'd1@d.com')]

In [18]:
%%sql

-- This works as long as the combination of first name and last name are unique
UPDATE users
SET user_email_id = concat(user_first_name, '@', user_last_name, '.com')
WHERE user_email_id IS NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [19]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_email_id SET NOT NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]