## Overview of Indexes on Database Tables

Let us go through the details related to indexes supported in RDBMS such as Postgres.
* Indexes are typically added to the tables to filter the data faster based on the condition. In case, if you are curious to understand the concepts related to indexes, feel free to review this [Oracle Blog](https://blogs.oracle.com/sql/post/how-to-create-and-use-indexes-in-oracle-database).
* When we create index, the data in the index will be separately stored to the table.
* Indexes are dependent on table. If table is dropped, all the indexes on the table will also be dropped.
* Along with the column data on which index is defined, there will also be an identifier for the corresponding record in the table. These identifiers are known as row ids.
* An index can be **unique** or **non unique**.
* Unique Index - Data will be sorted in ascending order by default and uniqueness is enforced.
* Non Unique Index - Data will be sorted in ascending order and uniqueness is not enforced.
* Unless specified all indexes are of type B Tree. B Tree is an algorithm to manage data in the indexes in the table. No need to worry too much about it.
* For sparsely populated columns, we tend to create B Tree indexes. B Tree indexes are the most commonly used ones.
* For densely populated columns such as gender, month etc with very few distinct values we can leverage bit map index. However bitmap indexes are not used quite extensively in typical web or mobile applications.
* Write operations will become relatively slow as data have to be managed in index as well as table.
* We need to be careful while creating indexes on the tables as write operations can become slow as more indexes are added to the table.

> Don't worry too much about understanding Python code used at this juncture. Focus on the relevance of indexes instead.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [ ]:
%%sql

DROP TABLE IF EXISTS users CASCADE

In [ ]:
%%sql

CREATE TABLE users (
    user_id INT PRIMARY KEY,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL,
    user_email_id VARCHAR NOT NULL
)

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename = 'users'

In [ ]:
%%sql

CREATE INDEX users_user_last_name_idx
ON users (user_last_name)

In [ ]:
%%sql

CREATE UNIQUE INDEX users_user_email_id_uidx
ON users (user_email_id)

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename = 'users'

In [ ]:
%%sql

DROP TABLE users

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename = 'users'

In [ ]:
%%sql

CREATE TABLE users (
    user_id INT PRIMARY KEY,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL,
    user_email_id VARCHAR NOT NULL
)

In [ ]:
%%sql

CREATE INDEX users_user_last_name_idx
ON users (user_last_name)

In [ ]:
%%sql

CREATE UNIQUE INDEX users_user_email_id_uidx
ON users (user_email_id)

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename = 'users'

In [ ]:
%%sql

DROP INDEX IF EXISTS users_user_last_name_idx

In [ ]:
%%sql

DROP INDEX IF EXISTS users_pkey

In [ ]:
%%sql

SELECT * FROM orders
WHERE order_date = '2014-01-01 00:00:00.0'

In [ ]:
%%sql

EXPLAIN
SELECT * FROM orders
WHERE order_date = '2014-01-01 00:00:00.0'

In [ ]:
%%sql

CREATE INDEX orders_order_date_idx
ON orders (order_date)

In [ ]:
%%sql

EXPLAIN
SELECT * FROM orders
WHERE order_date = '2014-01-01 00:00:00.0'

In [ ]:
%%sql

DROP INDEX IF EXISTS order_items_oid_idx

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_indexes
WHERE tablename = 'order_items'

In [ ]:
%%sql

SELECT count(*) FROM order_items

In [ ]:
%%sql

SELECT * FROM order_items 
WHERE order_item_order_id = 2

In [ ]:
%%sql

EXPLAIN 
SELECT * FROM order_items 
WHERE order_item_order_id = 2

In [ ]:
%%sql

CREATE INDEX order_items_oid_idx
ON order_items (order_item_order_id)

In [ ]:
%%sql

EXPLAIN 
SELECT * FROM order_items 
WHERE order_item_order_id = 2

In [ ]:
%%sql

EXPLAIN 
SELECT count(*) FROM order_items 
WHERE order_item_order_id = 2

In [ ]:
%%sql

EXPLAIN 
SELECT count(DISTINCT order_item_id) FROM order_items 
WHERE order_item_order_id = 2

Here are some of the criteria for creating indexes.
* Create unique indexes when you want to enforce uniqueness. If you define unique constraint or primary key constraint, it will create unique index internally.
* If we are performing joins between 2 tables based on a value, then the foreign key column in the child table should be indexed. 
* Typically as part of order management system, we tend to get all the order details for a given order using order id.
* In our case we will be able to improve the query performance by adding index on **order_items.order_item_order_id**.
* However, write operation will become a bit slow. But it is acceptable and required to create index on **order_items.order_item_order_id** as we write once and read many times over the life of the order.

In [ ]:
%%sql

SELECT * 
FROM orders o JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id = 2

In [ ]:
%%sql

DROP INDEX IF EXISTS order_items_oid_idx

In [ ]:
%%sql

EXPLAIN
SELECT * 
FROM orders o JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id = 2

In [ ]:
%%sql

CREATE INDEX order_items_oid_idx
ON order_items(order_item_order_id)

In [ ]:
%%sql

EXPLAIN
SELECT * 
FROM orders o JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id = 2

Let us perform tasks related to indexes to improve the performance of the join between orders and order_items.
* Drop and recreate retail db tables.
* Load data into retail db tables.
* Compute statistics (Optional). It is typically taken care automatically by the schedules defined by DBAs.
* Use code to randomly fetch 2000 orders and join with order_items - compute time.
* Create index for order_items.order_item_order_id (optionally compute statistics).|
* Use code to randomly fetch 2000 orders and join with order_items - compute time.
* Script to create tables and load data in case there are no tables in retail database.

```sql
psql -U itversity_retail_user \
  -h localhost \
  -p 5432 \
  -d itversity_retail_db \
  -W

DROP TABLE order_items;
DROP TABLE orders;
DROP TABLE products;
DROP TABLE categories;
DROP TABLE departments;
DROP TABLE customers;

\i data/retail_db/create_db_tables_pg.sql
\i data/retail_db/load_db_tables_pg.sql
```

In [ ]:
!pip install psycopg2-binary

In [ ]:
%%sql

DROP INDEX IF EXISTS order_items_oid_idx

In [ ]:
import psycopg2

In [ ]:
%%time

from random import randrange
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)
cursor = connection.cursor()
query = '''SELECT * 
FROM orders o JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id = %s
'''
ctr = 0
while True:
    if ctr % 250 == 0:
        print(f'Processed {ctr} records')
    if ctr == 2000:
        break
    order_id = randrange(1, 68883)
    cursor.execute(query, (order_id,))
    ctr += 1
cursor.close()
connection.close()

In [ ]:
%%sql

CREATE INDEX order_items_oid_idx
ON order_items (order_item_order_id)

In [ ]:
%%time

from random import randrange
connection = psycopg2.connect(
    host='localhost',
    port='5432',
    database='itversity_retail_db',
    user='itversity_retail_user',
    password='itversity'
)
cursor = connection.cursor()
query = '''SELECT * 
FROM orders o JOIN order_items oi 
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id = %s
'''
ctr = 0
while True:
    if ctr % 250 == 0:
        print(f'Processed {ctr} records')
    if ctr == 2000:
        break
    order_id = randrange(1, 68883)
    cursor.execute(query, (order_id,))
    ctr += 1
cursor.close()
connection.close()