## Add Foreign Key Constraints to the Tables

Let us see how to add foreign key constraints to the tables.
* We can add foreign key constraints while creating the tables.
* We can also add foreign key constraints to the existing tables (Common Practice).
* We typically define foreign key constraints on the child tables.
* The foreign key constraint in the child table should be referring to either primary key or unique constraint of the parent table.
* The columns with foreign key constraint can have only the values in the corresponding column in the parent table or null values.
* If we try to delete a row in the parent table which is used in the child tables using id, then the delete will fail.
* We can use `ON DELETE CASCADE` to delete all the records in the child table when the parent record is deleted in the parent table.
* `ON DELETE SET NULL` can be used to update key field values in the child table to null values instead of deleting them from the child table.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

DROP TABLE IF EXISTS users CASCADE

Done.

[]

In [4]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30),
    user_last_name VARCHAR(30)
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS courses CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS courses (
    course_id SERIAL PRIMARY KEY,
    course_title VARCHAR,
    course_price FLOAT
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [7]:
%%sql

DROP TABLE IF EXISTS course_enrolments CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [8]:
%%sql

CREATE TABLE IF NOT EXISTS course_enrolments (
    enrolment_id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users (user_id),
    course_id INT REFERENCES courses (course_id),
    sale_date DATE,
    amount_paid FLOAT
);

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [9]:
%%sql

DROP TABLE IF EXISTS course_enrolments CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS course_enrolments (
    enrolment_id SERIAL PRIMARY KEY,
    user_id INT,
    course_id INT,
    sale_date DATE,
    amount_paid FLOAT
);

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [11]:
%%sql

ALTER TABLE course_enrolments
    ADD FOREIGN KEY (user_id) REFERENCES users (user_id)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [12]:
%%sql

SELECT *
FROM information_schema.referential_constraints
WHERE constraint_catalog = 'itversity_sms_db'
    AND constraint_schema = 'public'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'course_enrolments_user_id_fkey', 'itversity_sms_db', 'public', 'users_pkey', 'NONE', 'NO ACTION', 'NO ACTION')]

In [13]:
%%sql

ALTER TABLE course_enrolments
    ADD CONSTRAINT course_enrolments_course_id_fkey FOREIGN KEY (course_id) REFERENCES courses (course_id)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [14]:
%%sql

SELECT *
FROM information_schema.referential_constraints
WHERE constraint_catalog = 'itversity_sms_db'
    AND constraint_schema = 'public'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[('itversity_sms_db', 'public', 'course_enrolments_user_id_fkey', 'itversity_sms_db', 'public', 'users_pkey', 'NONE', 'NO ACTION', 'NO ACTION'),
 ('itversity_sms_db', 'public', 'course_enrolments_course_id_fkey', 'itversity_sms_db', 'public', 'courses_pkey', 'NONE', 'NO ACTION', 'NO ACTION')]

In [15]:
%%sql

INSERT INTO users
VALUES
    (1, 'Scott', 'Tiger'),
    (2, 'John', 'Clarke'),
    (3, 'Mickey', 'Mouse'),
    (4, 'Donald', 'Duck')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[]

In [16]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[(1, 'Scott', 'Tiger'),
 (2, 'John', 'Clarke'),
 (3, 'Mickey', 'Mouse'),
 (4, 'Donald', 'Duck')]

In [17]:
%%sql

INSERT INTO courses
VALUES
    (1, 'Python', 400.0),
    (2, 'Spark', 800.0),
    (3, 'AWS', 800.0)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [18]:
%sql SELECT * FROM courses

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(1, 'Python', 400.0), (2, 'Spark', 800.0), (3, 'AWS', 800.0)]

In [19]:
%%sql

INSERT INTO course_enrolments
VALUES
    (1, 1, 2, '2022-01-15', 600.0),
    (2, 2, 3, '2022-01-21', 800.0),
    (3, 2, 2, '2022-02-05', 600.0),
    (4, 1, 3, '2022-02-16', 600.0),
    (5, 3, 3, '2022-01-31', 800.0)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
5 rows affected.

[]

In [20]:
%%sql

INSERT INTO course_enrolments
VALUES
    (6, 5, 4, '2022-01-21', 400.0)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.ForeignKeyViolation) insert or update on table "course_enrolments" violates foreign key constraint "course_enrolments_user_id_fkey"
DETAIL:  Key (user_id)=(5) is not present in table "users".

[SQL: INSERT INTO course_enrolments
VALUES
    (6, 5, 4, '2022-01-21', 400.0)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [21]:
%%sql

INSERT INTO course_enrolments
VALUES
    (6, NULL, 4, '2022-01-21', 400.0)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.ForeignKeyViolation) insert or update on table "course_enrolments" violates foreign key constraint "course_enrolments_course_id_fkey"
DETAIL:  Key (course_id)=(4) is not present in table "courses".

[SQL: INSERT INTO course_enrolments
VALUES
    (6, NULL, 4, '2022-01-21', 400.0)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [22]:
%%sql

INSERT INTO course_enrolments
VALUES
    (6, NULL, NULL, '2022-01-21', 400.0)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [23]:
%%sql

SELECT * FROM course_enrolments

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[(1, 1, 2, datetime.date(2022, 1, 15), 600.0),
 (2, 2, 3, datetime.date(2022, 1, 21), 800.0),
 (3, 2, 2, datetime.date(2022, 2, 5), 600.0),
 (4, 1, 3, datetime.date(2022, 2, 16), 600.0),
 (5, 3, 3, datetime.date(2022, 1, 31), 800.0),
 (6, None, None, datetime.date(2022, 1, 21), 400.0)]

In [24]:
%%sql

DELETE FROM course_enrolments WHERE enrolment_id = 6

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [25]:
%%sql

DELETE FROM course_enrolments WHERE user_id = 3

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [26]:
%%sql

DELETE FROM users WHERE user_id = 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.ForeignKeyViolation) update or delete on table "users" violates foreign key constraint "course_enrolments_user_id_fkey" on table "course_enrolments"
DETAIL:  Key (user_id)=(1) is still referenced from table "course_enrolments".

[SQL: DELETE FROM users WHERE user_id = 1]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [27]:
%%sql

ALTER TABLE course_enrolments
    DROP CONSTRAINT course_enrolments_user_id_fkey

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [28]:
%%sql

ALTER TABLE course_enrolments
    ADD CONSTRAINT course_enrolments_user_id_fkey 
        FOREIGN KEY (user_id) REFERENCES users (user_id)
        ON DELETE CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [29]:
%%sql

DELETE FROM users WHERE user_id = 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [30]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[(2, 'John', 'Clarke'), (3, 'Mickey', 'Mouse'), (4, 'Donald', 'Duck')]

In [31]:
%%sql

SELECT * FROM course_enrolments

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(2, 2, 3, datetime.date(2022, 1, 21), 800.0),
 (3, 2, 2, datetime.date(2022, 2, 5), 600.0)]

In [32]:
%%sql

ALTER TABLE course_enrolments
    DROP CONSTRAINT course_enrolments_course_id_fkey

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [33]:
%%sql

ALTER TABLE course_enrolments
    ADD CONSTRAINT course_enrolments_course_id_fkey 
        FOREIGN KEY (course_id) REFERENCES courses (course_id)
        ON DELETE SET NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [34]:
%%sql

DELETE FROM courses WHERE course_id = 2

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [36]:
%%sql

SELECT * FROM courses

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(1, 'Python', 400.0), (3, 'AWS', 800.0)]

In [37]:
%%sql

SELECT * FROM course_enrolments

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(2, 2, 3, datetime.date(2022, 1, 21), 800.0),
 (3, 2, None, datetime.date(2022, 2, 5), 600.0)]