## Solutions - Filtering and Aggregations using SQL

Here are the solutions for the exercises related to filtering and aggregations using SQL.
* Get all the details of the courses which are in `inactive` or `draft` state.
* Get all the details of the courses which are related to `Python` or `Scala`.
* Get count of courses by `course_status`. The output should contain `course_status` and `course_count`.
* Get count of `published` courses by `course_author`. The output should contain `course_author` and `course_count`.
* Get all the details of `Python` or `Scala` related courses in `draft` status.
* Get the author and count where the author have more than **one published** course. The output should contain `course_author` and `course_count`.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

DROP TABLE IF EXISTS courses;

Done.

[]

In [4]:
%%sql

CREATE TABLE courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(9),
    course_published_dt DATE
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

INSERT INTO courses
    (course_name, course_author, course_status, course_published_dt)
VALUES
    ('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
    ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
    ('Data Engineering using Scala', 'Elvis Presley', 'draft', null),
    ('Programming using Scala' , 'Elvis Presley' , 'published' , '2020-05-12'),
    ('Programming using Java' , 'Mike Jack' , 'inactive' , '2020-08-10'),
    ('Web Applications - Python Flask' , 'Bob Dillon' , 'inactive' , '2020-07-20'),
    ('Web Applications - Java Spring' , 'Bob Dillon' , 'draft' , null),
    ('Pipeline Orchestration - Python' , 'Bob Dillon' , 'draft' , null),
    ('Streaming Pipelines - Python' , 'Bob Dillon' , 'published' , '2020-10-05'),
    ('Web Applications - Scala Play' , 'Elvis Presley' , 'inactive' , '2020-09-30'),
    ('Web Applications - Python Django' , 'Bob Dillon' , 'published' , '2020-06-23'),
    ('Server Automation - Ansible' , 'Uncle Sam' , 'published' , '2020-07-05')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
12 rows affected.

[]

In [6]:
%%sql

SELECT * FROM courses ORDER BY course_id

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Bob Dillon', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]

In [7]:
%%sql
-- Get all the details of the courses which are in `inactive` or `draft` state.

SELECT *
FROM courses
WHERE course_status IN ('inactive', 'draft')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[(3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Bob Dillon', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30))]

In [8]:
%%sql

-- Get all the details of the courses which are related to `Python` or `Scala`.

SELECT *
FROM courses
WHERE course_name LIKE '%Python%' OR course_name LIKE '%Scala%'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
9 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23))]

In [9]:
%%sql

-- Get count of courses by `course_status`. 
-- The output should contain `course_status` and `course_count`.
SELECT course_status,
    count(*) AS course_count
FROM courses
GROUP BY 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('published', 6), ('inactive', 3), ('draft', 3)]

In [10]:
%%sql

-- Get count of `published` courses by `course_author`. 
-- The output should contain `course_author` and `course_count`.

SELECT course_author,
    count(*) AS course_count
FROM courses
WHERE course_status = 'published'
GROUP BY 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('Bob Dillon', 4), ('Elvis Presley', 1), ('Uncle Sam', 1)]

In [19]:
%%sql

-- Get all the details of `Python` or `Scala` related courses in `draft` status.

SELECT *
FROM courses
WHERE (course_name LIKE '%Python%' OR course_name LIKE '%Scala%')
    AND course_status = 'draft'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None)]

In [20]:
%%sql

-- Get the author and count where the author have more than **one published** course. 
-- The output should contain `course_author` and `course_count`.

SELECT course_author,
    count(*) AS course_count
FROM courses
WHERE course_status = 'published'
GROUP BY 1
    HAVING count(*) > 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('Bob Dillon', 4)]