## Overview of Data Dictionary or Information Schema

Let us get an overview of Data Dictionary or Information Schema to get details about tables such as columns, data types, constraints, etc.
* All the RDBMS databases have metadata of the tables and other objects in the form of Data Dictionary or Information Schema.
* The information about tables such as columns, data types, constraints, etc are stored in internal tables that are part of Data Dictionary.
* Typically the data in the internal tables are exposed via views.
* Here are some of the most commonly used views in Postgres to get details about tables.
  * `tables`
  * `columns`
  * `table_constraints`
  * `referential_constraints`
* We can also get details of Sequences created in Databases using view called as `sequences` in `information_schema`
* Let us go ahead and create `users`, `courses`, and `course_enrolments` tables and review the information using Data Dictionary or Information Schema tables.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [ ]:
%%sql

DROP TABLE IF EXISTS users CASCADE

In [ ]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30),
    user_last_name VARCHAR(30)
)

In [ ]:
%%sql

DROP TABLE IF EXISTS courses CASCADE

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS courses (
    course_id SERIAL PRIMARY KEY,
    course_title VARCHAR,
    course_price FLOAT
)

In [ ]:
%%sql

DROP TABLE IF EXISTS course_enrolments CASCADE

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS course_enrolments (
    enrolment_id SERIAL PRIMARY KEY,
    user_id INT REFERENCES users (user_id),
    course_id INT REFERENCES courses (course_id),
    sale_date DATE,
    amount_paid FLOAT
);

In [ ]:
%%sql

SELECT table_catalog,
    table_schema,
    table_name,
    table_type
FROM information_schema.tables
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name IN ('users', 'courses', 'course_enrolments')

In [ ]:
%%sql

SELECT table_catalog,
    table_schema,
    table_name,
    column_name,
    data_type,
    ordinal_position,
    column_default,
    is_nullable
FROM information_schema.columns
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name IN ('users', 'courses', 'course_enrolments')
ORDER BY 1, 2, 3, 6

In [ ]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name IN ('users', 'courses', 'course_enrolments')
ORDER BY table_name

In [ ]:
%%sql

SELECT *
FROM information_schema.referential_constraints
WHERE constraint_catalog = 'itversity_sms_db'
    AND constraint_schema = 'public'

In [ ]:
%%sql

SELECT *
FROM information_schema.sequences
WHERE sequence_catalog = 'itversity_sms_db'
    AND sequence_schema = 'public'