## Adding or Modifying Columns

Let us understand details about adding or modifying columns using `ALTER TABLE` command.
* New columns can be added to the existing table. 
* Existing columns can be dropped from the table, but it is not advisable to do so. If at all we have to drop the column, then there should be extra caution as some or the other application functionality can be broken.
* We can modify the existing columns for defining it as not null or to change the data type. We will see examples related to `NOT NULL` later.
* While modifying the data types of the columns we need to make sure that they are compatible, if the column that is being modified have data in it. For example, we can change `CHAR` to `VARCHAR` or `INT` to `VARCHAR`. But we might not be able to change `VARCHAR` to `INT`, if the original data contain non numeric characters.
* Once the application is in production, all the operations related to modifying or dropping columns should be avoided. We can consider adding columns.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

DROP TABLE IF EXISTS users

Done.

[]

In [4]:
%%sql

CREATE TABLE users (
    user_id INT PRIMARY KEY,
    user_first_name VARCHAR(30),
    user_last_name VARCHAR(30)
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

ALTER TABLE users
    ADD COLUMN user_email_id VARCHAR(50) NOT NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [6]:
%%sql

-- We can add multiple columns as well
ALTER TABLE users
    ADD COLUMN is_active BOOLEAN DEFAULT false,
    ADD COLUMN user_role VARCHAR(1) DEFAULT 'U'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [7]:
%%sql

SELECT table_catalog,
    table_schema,
    table_name,
    column_name,
    data_type,
    ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
    AND table_name = 'users'
ORDER BY ordinal_position

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'integer', 1),
 ('itversity_sms_db', 'public', 'users', 'user_first_name', 'character varying', 2),
 ('itversity_sms_db', 'public', 'users', 'user_last_name', 'character varying', 3),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 'character varying', 4),
 ('itversity_sms_db', 'public', 'users', 'is_active', 'boolean', 5),
 ('itversity_sms_db', 'public', 'users', 'user_role', 'character varying', 6)]

In [8]:
%%sql

-- this works
ALTER TABLE users
    ALTER COLUMN user_role SET DATA TYPE CHAR(1)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [9]:
%%sql

SELECT table_catalog,
    table_schema,
    table_name,
    column_name,
    data_type,
    ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
    AND table_name = 'users'
ORDER BY ordinal_position

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'integer', 1),
 ('itversity_sms_db', 'public', 'users', 'user_first_name', 'character varying', 2),
 ('itversity_sms_db', 'public', 'users', 'user_last_name', 'character varying', 3),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 'character varying', 4),
 ('itversity_sms_db', 'public', 'users', 'is_active', 'boolean', 5),
 ('itversity_sms_db', 'public', 'users', 'user_role', 'character', 6)]

In [10]:
%%sql

ALTER TABLE users
    ADD COLUMN user_age VARCHAR(50) NOT NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [11]:
%%sql

-- this will not work
ALTER TABLE users
    ALTER COLUMN user_age SET DATA TYPE INT

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.DatatypeMismatch) column "user_age" cannot be cast automatically to type integer
HINT:  You might need to specify "USING user_age::integer".

[SQL: -- this will not work
ALTER TABLE users
    ALTER COLUMN user_age SET DATA TYPE INT]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [12]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_age SET DATA TYPE INT USING user_age::integer

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [13]:
%%sql

SELECT table_catalog,
    table_schema,
    table_name,
    column_name,
    data_type,
    ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
    AND table_name = 'users'
ORDER BY ordinal_position

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
7 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 'integer', 1),
 ('itversity_sms_db', 'public', 'users', 'user_first_name', 'character varying', 2),
 ('itversity_sms_db', 'public', 'users', 'user_last_name', 'character varying', 3),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 'character varying', 4),
 ('itversity_sms_db', 'public', 'users', 'is_active', 'boolean', 5),
 ('itversity_sms_db', 'public', 'users', 'user_role', 'character', 6),
 ('itversity_sms_db', 'public', 'users', 'user_age', 'integer', 7)]