## Difference Between CHAR and VARCHAR

Let us go through the difference between `CHAR` and `VARCHAR`. We can define string or text type columns using either of the data types.
* `CHAR` is typically used for fixed length columns such as Phone Numbers where each phone number will be exactly 12 characters with spaces in between.
* `VARCHAR` is typically used for varrying length columns. Most of the times we use `VARCHAR`.
* For strings less than the length of `CHAR` type fields, spaces will be padded.
* If we use `CHAR` type for columns whose values are not fixed in length, then we will end up wasting the storage.
* When it comes to `VARCHAR` or `TEXT`, there will be additional overhead to support varrying length values.
* In both the data types, the length of values in respective columns cannot go beyond the length specified.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

SELECT current_date

1 rows affected.

[(datetime.date(2022, 9, 23),)]

In [4]:
%%sql

DROP TABLE IF EXISTS char_demo

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

CREATE TABLE char_demo (
    i INT,
    c CHAR(5)
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [6]:
%%sql

INSERT INTO char_demo
VALUES
    (1, 'ITV'),
    (2, 'DG'),
    (3, 'HW')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [7]:
%%sql

SELECT c, length(c) FROM char_demo

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('ITV  ', 3), ('DG   ', 2), ('HW   ', 2)]

In [8]:
%%sql

SELECT * FROM char_demo
WHERE c = 'ITV'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1, 'ITV  ')]

In [9]:
%%sql

SELECT * FROM char_demo
WHERE c = 'ITV ' -- condition with spaces on char type

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1, 'ITV  ')]

In [10]:
%%sql

SELECT * FROM char_demo
WHERE c = 'ITV  ' -- condition with spaces on char type

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1, 'ITV  ')]

In [11]:
%%sql

DROP TABLE IF EXISTS varchar_demo

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [12]:
%%sql

CREATE TABLE varchar_demo (
    i INT,
    v VARCHAR(5)
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [13]:
%%sql

INSERT INTO varchar_demo
VALUES
    (1, 'ITV'),
    (2, 'DG'),
    (3, 'HW')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [14]:
%%sql

SELECT * FROM varchar_demo
WHERE v = 'ITV'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1, 'ITV')]

In [15]:
%%sql

SELECT * FROM varchar_demo
WHERE v = 'ITV  '

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
0 rows affected.

[]

In [16]:
%%sql

DROP TABLE char_demo

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [17]:
%%sql

DROP TABLE varchar_demo

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]