## Add Not Null Constraints to the tables

Let us go through the details about adding not null constraints to the tables.
* We can add `NOT NULL` constraints on one or more columns while creating the table.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [3]:
%%sql

DROP TABLE IF EXISTS users

Done.

[]

In [4]:
%%sql

CREATE TABLE users (
    user_id INT NOT NULL,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

ALTER TABLE users
    ADD user_email_id VARCHAR(50) NOT NULL

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [6]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
4 rows affected.

[('itversity_sms_db', 'public', '2200_16815_1_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_16815_2_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_16815_3_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES'),
 ('itversity_sms_db', 'public', '2200_16815_4_not_null', 'itversity_sms_db', 'public', 'users', 'CHECK', 'NO', 'NO', 'YES')]

In [ ]:
%%sql

SELECT *
FROM information_schema.columns
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

In [ ]:
%%sql

ALTER TABLE users
    DROP COLUMN user_email_id

In [ ]:
%%sql

INSERT INTO users
VALUES (1, 'Scott', NULL)

In [ ]:
%%sql

INSERT INTO users
VALUES 
    (1, 'Scott', 'Tiger'),
    (2, 'Donald', 'Duck')

* New columns can be added to the existing table. However, if you want to add a column which cannot have null value then you need to follow these steps.
  * Add column to the table.
  * Update data in the column with some value.
  * Alter table to enforce not null constraint for the newly added column.

In [ ]:
%%sql

ALTER TABLE users
    ADD user_email_id VARCHAR NOT NULL

In [ ]:
%%sql

ALTER TABLE users
    ADD user_email_id VARCHAR

In [ ]:
%%sql

UPDATE users
SET user_email_id = lower(concat(user_first_name, '.', user_last_name, '@itversity.com'))

In [ ]:
%%sql

SELECT * FROM users

In [ ]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_email_id SET NOT NULL

In [ ]:
%%sql

-- Changing from not null to null
ALTER TABLE users
    ALTER COLUMN user_email_id DROP NOT NULL

In [ ]:
%%sql

SELECT *
FROM information_schema.columns
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name