## Add Check Constraints to the Tables

Let us go through the details about adding check constraints to the tables.
* Let us recreate `users` table with check constraint on `user_role`.
* `user_role` which is of type `CHAR(1)` should have only `U` or `A`. Here `U` is for **User** and `A` is for **Admin**.
* We will also define default as `U` for `user_role`.
* We will also see how to add column with check constraint using `ALTER` command.
* We can also add check constraint on existing column using `ALTER` command.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

In [ ]:
%%sql

DROP TABLE IF EXISTS users

In [ ]:
%%sql

-- We can have U or A or NULL in user_role
CREATE TABLE users (
    user_id INT NOT NULL,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL,
    user_role CHAR(1) DEFAULT 'U' CHECK (user_role IN ('U', 'A'))
)

In [ ]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

In [ ]:
%%sql

-- Fails
INSERT INTO users
VALUES 
    (1, 'Scott', 'Tiger', 'S')

In [ ]:
%%sql

ALTER TABLE users
    ADD CHECK (user_role IN ('U', 'A', 'S'))

In [ ]:
%%sql

-- Still Fails
-- We need to drop and recreate the constraint
INSERT INTO users
VALUES 
    (1, 'Scott', 'Tiger', 'S')

In [ ]:
%%sql

-- Dropping Constraint
ALTER TABLE users
    DROP CONSTRAINT users_user_role_check

In [ ]:
%%sql

-- Still Fails
-- We need to drop and recreate the constraint
INSERT INTO users
VALUES 
    (1, 'Scott', 'Tiger', 'S')

In [ ]:
%%sql

-- Works: user_role will be U
INSERT INTO users
    (user_id, user_first_name, user_last_name)
VALUES 
    (2, 'Donald', 'Duck')

In [ ]:
%sql SELECT * FROM users

In [ ]:
%%sql

INSERT INTO users
    (user_id, user_first_name, user_last_name, user_role)
VALUES 
    (3, 'Mickey', 'Mouse', NULL)

In [ ]:
%sql SELECT * FROM users

In [ ]:
%sql TRUNCATE TABLE users

In [ ]:
%%sql

INSERT INTO users
    (user_id, user_first_name, user_last_name)
VALUES 
    (1, 'Scott', 'Tiger')

In [ ]:
%%sql

INSERT INTO users
VALUES 
    (2, 'Donald', 'Duck', 'A')

In [ ]:
%sql SELECT * FROM users

In [ ]:
%%sql

DROP TABLE IF EXISTS users

In [ ]:
%%sql

-- We can have U or A or NULL in user_role
CREATE TABLE users (
    user_id INT NOT NULL,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL,
    user_role CHAR(1) DEFAULT 'U'
)

In [ ]:
%%sql

ALTER TABLE users
    ADD CHECK (user_role IN ('U', 'A', 'S'))

In [ ]:
%%sql

INSERT INTO users
VALUES 
    (1, 'Scott', 'Tiger', 'S')

In [ ]:
%%sql

INSERT INTO users
VALUES 
    (1, 'Donald', 'Duck', 'O')

In [ ]:
%%sql

-- Dropping Constraint
ALTER TABLE users
    DROP CONSTRAINT users_user_role_check

In [ ]:
%%sql

-- Adding constraint with name
ALTER TABLE users
    ADD CONSTRAINT user_role_check CHECK (user_role IN ('U', 'A', 'S'))

In [ ]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name

In [ ]:
%%sql

DROP TABLE IF EXISTS users

In [ ]:
%%sql

-- We can have U or A or NULL in user_role
CREATE TABLE users (
    user_id INT NOT NULL,
    user_first_name VARCHAR NOT NULL,
    user_last_name VARCHAR NOT NULL
)

In [ ]:
%%sql

ALTER TABLE users
    ADD user_role CHAR(1) CONSTRAINT user_role_check CHECK (user_role IN ('U', 'A', 'S'))

In [ ]:
%%sql

SELECT *
FROM information_schema.table_constraints
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'
ORDER BY table_name