## Overview of Sequences

Let us go through some of the important details related to sequences.
* For almost all the tables in relational databases we define primary key constraints.
* Primary key is nothing but unique constraint with not null and there can be only one primary key in any given table.
* Many times, we might not have appropriate column in the table which can be used as primary key. In those scenarios we will define a column which does not have any business relevant values. This is called as **surrogate key**.
* Relational Database technologies provide sequences to support these **surrogate primary keys**.
* In postgres we can define **surrogate primary key** for a given table as `SERIAL`. Internally it will create a sequence.
* We can also pre-create a sequence and use it to populate multiple tables.
* Even if we do not specify the column and value as part of the insert statement, a sequence generated number will be populated in that column.
* Typically, the sequence generated number will be incremented by 1. We can change it by specifying a constant value using `INCREMENT BY`.
* Here are some of the properties that can be set for a sequence. Most of them are self explanatory.
  * `START WITH`
  * `RESTART WITH`
  * `MINVALUE`
  * `MAXVALUE`
  * `CACHE`
* We can use functions such as `nextval` and `currval` to explicitly generate sequence numbers and also to get current sequence number in the current session.
* We might have to use `RESTART WITH` to reset the sequences after the underlying tables are populated with values in surrogate key.

In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itversity_sms_user:itversity@localhost:5432/itversity_sms_db

```{note}
Let us create a sequence which start with 101 with minimum value 101 and maximum value 1000.
```

In [3]:
%%sql

DROP SEQUENCE IF EXISTS test_seq

Done.

[]

In [4]:
%%sql

CREATE SEQUENCE test_seq
START WITH 101
MINVALUE 101
MAXVALUE 1000
INCREMENT BY 100

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [5]:
%%sql

SELECT * FROM information_schema.sequences
WHERE sequence_catalog = 'itversity_sms_db'
    AND sequence_schema = 'public'
    AND sequence_name = 'test_seq'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[('itversity_sms_db', 'public', 'test_seq', 'bigint', 64, 2, 0, '101', '101', '1000', '100', 'NO')]

In [7]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.ObjectNotInPrerequisiteState) currval of sequence "test_seq" is not yet defined in this session

[SQL: SELECT currval('test_seq')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
%sql SELECT nextval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(101,)]

In [9]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(101,)]

In [10]:
%sql SELECT nextval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(201,)]

In [11]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(201,)]

In [12]:
%sql SELECT nextval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(301,)]

In [13]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(301,)]

In [14]:
%%sql

ALTER SEQUENCE test_seq
INCREMENT BY 1
RESTART WITH 101

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [15]:
%sql SELECT nextval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(101,)]

In [16]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(101,)]

In [17]:
%sql SELECT nextval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(102,)]

In [18]:
%sql SELECT currval('test_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(102,)]

In [19]:
%sql DROP SEQUENCE test_seq

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [20]:
%%sql

SELECT * FROM information_schema.sequences
WHERE sequence_catalog = 'itversity_sms_db'
    AND sequence_schema = 'public'
    AND sequence_name = 'test_seq'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
0 rows affected.

[]

```{note}
`SERIAL` will make sure user_id is populated using sequence and `PRIMARY KEY` will enforce not null and unique constraints.
```

In [21]:
%sql DROP TABLE IF EXISTS users CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [22]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [23]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [24]:
%%sql

SELECT * 
FROM information_schema.sequences
WHERE sequence_catalog = 'itversity_sms_db'
    AND sequence_schema = 'public'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('itversity_sms_db', 'public', 'users_user_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO'),
 ('itversity_sms_db', 'public', 'courses_course_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO'),
 ('itversity_sms_db', 'public', 'course_enrolments_enrolment_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO')]

In [25]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1,)]

In [26]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1,)]

In [27]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Donald', 'Duck', 'donald@duck.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [28]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [29]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [30]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1))]

In [31]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [32]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(6,)]

In [33]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
5 rows affected.

[(2, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (3, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (4, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (5, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (6, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1))]

```{warning}
It is not a good idea to populate surrogate key fields by passing the values. Either we should specify sequence generated number or let database take care of populating the field.
```

In [34]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id)
VALUES (7, 'Scott', 'Tiger', 'scott@tiger.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [36]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(6,)]

We can create table with out sequence and associate sequence with the table.

In [37]:
%sql DROP TABLE IF EXISTS users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [38]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [39]:
%%sql

CREATE TABLE users (
    user_id INT PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [40]:
%%sql

CREATE SEQUENCE IF NOT EXISTS users_user_id_seq
START WITH 100
MINVALUE 1
MAXVALUE 1000000
INCREMENT BY 2

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [41]:
%%sql

SELECT * 
FROM information_schema.sequences
WHERE sequence_catalog = 'itversity_sms_db'
    AND sequence_schema = 'public'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[('itversity_sms_db', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '100', '1', '1000000', '2', 'NO'),
 ('itversity_sms_db', 'public', 'courses_course_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO'),
 ('itversity_sms_db', 'public', 'course_enrolments_enrolment_id_seq', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO')]

In [44]:
%%sql

SELECT * 
FROM information_schema.columns
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
9 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 1, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_email_validated', 5, None, 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_role', 7, None, 'YES', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'is_active', 8, None, 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'created_dt', 9, 'CURRENT_DATE', 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [45]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id)
VALUES (nextval('users_user_id_seq'), 'Donald', 'Duck', 'donald@duck.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [46]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(100, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [47]:
%%sql

-- Fails: as sequence is not associated with user_id
-- NULL will be used to populate user_id which is primary key column
INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
(psycopg2.errors.NotNullViolation) null value in column "user_id" of relation "users" violates not-null constraint
DETAIL:  Failing row contains (null, Mickey, Mouse, mickey@mouse.com, null, null, U, t, 2022-10-01).

[SQL: -- Fails: as sequence is not associated with user_id
-- NULL will be used to populate user_id which is primary key column
INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [48]:
%%sql

ALTER TABLE users
    ALTER COLUMN user_id SET DEFAULT nextval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [49]:
%%sql

SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(100,)]

In [51]:
%%sql

SELECT * 
FROM information_schema.columns
WHERE table_catalog = 'itversity_sms_db'
    AND table_schema = 'public'
    AND table_name = 'users'

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
9 rows affected.

[('itversity_sms_db', 'public', 'users', 'user_id', 1, "nextval('users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_last_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_email_validated', 5, None, 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'user_role', 7, None, 'YES', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'is_active', 8, None, 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itversity_sms_db', 'public', 'users', 'created_dt', 9, 'CURRENT_DATE', 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'itversity_sms_db', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [52]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(100, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [53]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [54]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
2 rows affected.

[(100, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (102, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1))]

In [55]:
%%sql

SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(102,)]

In [56]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [57]:
%%sql

SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
5 rows affected.

[(100, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (102, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (104, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (106, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (108, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1))]

In [58]:
%%sql

SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(108,)]

```{note}
When data is loaded with surrogate key values into the table from external sources, it is recommended to create sequence with maximum + 1 value using`START WITH`
```

In [77]:
%sql DROP TABLE IF EXISTS users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [78]:
%sql DROP SEQUENCE IF EXISTS users_user_id_seq

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

```{note}
`SERIAL` will make sure user_id is populated using sequence and `PRIMARY KEY` will enforce not null and unique constraints.
```

Also, let us go through the steps about how to reset the sequence when the SERIAL column already have data in it (because of bulk load from the files which include values in the SERIAL column).
* Recreate the table.
* Populate data with hard coded values in user_id.
* Check the current value in the sequence which is created to populate user_id.
* If the current value is less than the max(user_id), then increment max(user_id) by 1.
* Restart the sequence using the value of max(user_id) + 1

In [79]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN,
    user_password VARCHAR(200),
    user_role VARCHAR(1),
    is_active BOOLEAN,
    created_dt DATE DEFAULT CURRENT_DATE
)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [80]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id)
VALUES (1, 'Donald', 'Duck', 'donald@duck.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [81]:
%%sql

INSERT INTO users (user_id, user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES (2, 'Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [82]:
%%sql

INSERT INTO users 
    (user_id, user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
3 rows affected.

[]

In [83]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
5 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1))]

In [84]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1,)]

In [85]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1,)]

In [86]:
%sql ALTER SEQUENCE users_user_id_seq RESTART WITH 6

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [87]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(1,)]

In [88]:
%sql SELECT nextval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(6,)]

In [89]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(6,)]

In [90]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Scott', 'Tiger', 'scott@tiger.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [91]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(7,)]

In [92]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1)),
 (7, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [100]:
%sql DROP SEQUENCE users_user_id_seq CASCADE

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [95]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
6 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1)),
 (7, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [101]:
%%sql

CREATE SEQUENCE users_user_id_seq 
    START WITH 8
    MINVALUE 1

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [102]:
%%sql

ALTER SEQUENCE users_user_id_seq
    OWNED BY users.user_id

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [103]:
%%sql 

ALTER TABLE users 
    ALTER COLUMN user_id 
    SET DEFAULT nextval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
Done.

[]

In [104]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Matt', 'Clarke', 'matt@clarke.com')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[]

In [105]:
%sql SELECT * FROM users

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
7 rows affected.

[(1, 'Donald', 'Duck', 'donald@duck.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (2, 'Mickey', 'Mouse', 'mickey@mouse.com', None, None, 'U', True, datetime.date(2022, 10, 1)),
 (3, 'Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', None, 'h9LAz7p7ub', 'U', True, datetime.date(2022, 10, 1)),
 (4, 'Tobe', 'Lyness', 'tlyness1@paginegialle.it', None, 'oEofndp', 'U', True, datetime.date(2022, 10, 1)),
 (5, 'Addie', 'Mesias', 'amesias2@twitpic.com', None, 'ih7Y69u56', 'U', True, datetime.date(2022, 10, 1)),
 (7, 'Scott', 'Tiger', 'scott@tiger.com', None, None, None, None, datetime.date(2022, 10, 1)),
 (8, 'Matt', 'Clarke', 'matt@clarke.com', None, None, None, None, datetime.date(2022, 10, 1))]

In [106]:
%sql SELECT currval('users_user_id_seq')

 * postgresql://itversity_sms_user:***@localhost:5432/itversity_sms_db
1 rows affected.

[(8,)]