## Solution â€“ Daily Product Revenue

Let us review the Final Solution for our problem statement **daily_product_revenue**.
* Prepare tables
  * Create tables
  * Load the data into tables
* We need to project the fields which we are interested in. We need to have **product_id** as well as **product_name** as there can be products with same name and can result in incorrect output.
  * order_date
  * order_item_product_id
  * product_name
  * product_revenue
* As we have fields from multiple tables, we need to perform join after which we have to filter for `COMPLETE` or `CLOSED` orders.
* We have to group the data by `order_date`, `order_item_product_id` as well as `product_name`, then we have to perform aggregation on `order_item_subtotal` to get `product_revenue`.

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

SELECT * FROM order_items LIMIT 10

In [ ]:
%%sql

SELECT * FROM products LIMIT 10

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
    JOIN products AS p
        ON p.product_id = oi.order_item_product_id
LIMIT 10

In [ ]:
%%sql

SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
    JOIN products AS p
        ON p.product_id = oi.order_item_product_id

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
    JOIN products AS p
        ON p.product_id = oi.order_item_product_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10

In [ ]:
%%sql

SELECT count(*)
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
    JOIN products AS p
        ON p.product_id = oi.order_item_product_id
WHERE order_status IN ('COMPLETE', 'CLOSED')

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    p.product_name,
    round(sum(oi.order_item_subtotal)::numeric, 2) AS product_revenue
FROM orders AS o
    JOIN order_items AS oi
        ON o.order_id = oi.order_item_order_id
    JOIN products AS p
        ON p.product_id = oi.order_item_product_id
WHERE order_status IN ('COMPLETE', 'CLOSED')
GROUP BY 1, 2, 3
ORDER BY 1, 4 DESC
LIMIT 10

In [ ]:
%%sql

SELECT count(*) FROM (
    SELECT o.order_date,
        oi.order_item_product_id,
        p.product_name,
        round(sum(oi.order_item_subtotal)::numeric, 2) AS product_revenue
    FROM orders AS o
        JOIN order_items AS oi
            ON o.order_id = oi.order_item_order_id
        JOIN products AS p
            ON p.product_id = oi.order_item_product_id
    WHERE order_status IN ('COMPLETE', 'CLOSED')
    GROUP BY 1, 2, 3
) AS q