## Sort Data using Order By in SQL

Let us understand how to sort the data using **SQL**.
* We typically perform sorting as final step.
* Sorting can be done either by using one field or multiple fields. Sorting by multiple fields is also known as composite sorting.
* We can sort the data either in ascending order or descending order by using column or expression.
* By default, the sorting order is ascending and we can change it to descending by using `DESC`.
* As part of composite sorting, we can sort the data in ascending order on some fields and descending order on other fields.
* Typical query execution order
  1. `FROM`
  2. `WHERE`
  3. `GROUP BY` and `HAVING`
  4. `SELECT`
  5. `ORDER BY`

```sql
SELECT order_date, count(1) AS order_count
FROM orders
WHERE order_status IN ('COMPLETE', 'CLOSED')
GROUP BY order_date
HAVING count(1) > 50
ORDER BY order_count DESC
```

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

SELECT * FROM orders
ORDER BY order_customer_id
LIMIT 10

In [ ]:
%%sql

SELECT * FROM orders
ORDER BY order_customer_id DESC
LIMIT 10

In [ ]:
%%sql

SELECT * FROM orders
ORDER BY order_customer_id,
    order_date
LIMIT 10

In [ ]:
%%sql

SELECT * FROM orders
ORDER BY order_customer_id,
    order_date DESC
LIMIT 10

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal::numeric), 2) AS revenue
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id
LIMIT 10

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal::numeric), 2) AS revenue
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id
ORDER BY o.order_date,
    revenue DESC
LIMIT 25

In [ ]:
%%sql

SELECT o.order_date,
    oi.order_item_product_id,
    round(sum(oi.order_item_subtotal::numeric), 2) AS revenue
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date,
    oi.order_item_product_id
    HAVING round(sum(oi.order_item_subtotal::numeric), 2) > 5000
ORDER BY o.order_date,
    revenue DESC
LIMIT 10

In [ ]:
%%sql

DROP TABLE IF EXISTS users

In [ ]:
%%sql

CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    user_first_name VARCHAR(30) NOT NULL,
    user_last_name VARCHAR(30) NOT NULL,
    user_email_id VARCHAR(50) NOT NULL,
    user_email_validated BOOLEAN DEFAULT FALSE,
    user_password VARCHAR(200),
    user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
    user_country VARCHAR(2),
    is_active BOOLEAN DEFAULT FALSE,
    created_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

In [ ]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_country)
VALUES ('Donald', 'Duck', 'donald@duck.com', 'IN')

In [ ]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active, user_country)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true, 'US')

In [ ]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active, user_country) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true, 'CA'),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true, 'FR'),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true, 'AU')

In [ ]:
%%sql

SELECT * FROM users

In [ ]:
%%sql

SELECT * FROM users
ORDER BY user_password NULLS FIRST

In [ ]:
%%sql

SELECT * FROM users
ORDER BY user_password DESC NULLS LAST

In [ ]:
%%sql

SELECT * FROM users
ORDER BY user_first_name

In [ ]:
%%sql

SELECT 'aac' < 'ab'

In [ ]:
%%sql

SELECT * FROM users
ORDER BY user_country

In [ ]:
%%sql

SELECT u.*,
    CASE 
        WHEN user_country = 'US' THEN 0
        ELSE 1
    END AS country_sorting_code
FROM users AS u
ORDER BY country_sorting_code, user_country

In [ ]:
%%sql

SELECT user_id,
    user_first_name,
    user_last_name,
    user_email_id,
    user_country
FROM users
ORDER BY 
    CASE WHEN user_country = 'US' THEN 0
        ELSE 1
    END, user_country